canvas {
    position: relative;
}
body {
    position: fixed;
    top: 10%;
    left: 15%;
}
.up2 {
    display: none;
    position:absolute;
    top: 350px;
    right: 0;
    bottom: 0;
    left: 100px;
    padding: 0;
    border: 0;
    touch-action: none;
    border-radius: 50%;
}
.down2 {
    display: none;
    position:absolute;
    top: 450px;
    right: 0;
    bottom: 0;
    left: 100px;
    padding: 0;
    border: 0;
    touch-action: none;
    border-radius: 50%;
}
.left2 {
    display: none;
    position: absolute;
    top: 400px;
    right: 0;
    bottom: 0;
    left: 50px;
    padding: 0;
    border: 0;
    touch-action: none;
    border-radius: 50%;
}
.right2 {
    display: none;
    position: absolute;
    top: 400px;
    right: 0;
    bottom: 0;
    left: 150px;
    padding: 0;
    border: 0;
    touch-action: none;
    border-radius: 50%;
}
.fist {
    display: none;
    position: absolute;
    top: 400px;
    right: 0;
    bottom: 0;
    left: 900px;
    padding: 0;
    border: 0;
    touch-action: none;
    border-radius: 50%;
}
.sprint {
    display: none;
    position: absolute;
    top: 450px;
    right: 0;
    bottom: 0;
    left: 850px;
    padding: 0;
    border: 0;
    touch-action: none;
    border-radius: 50%;
}

/* @media screen and (min-width: 1550px) {
    body {
        position: absolute;
        top: 28%;
        left: 28%
    }
    
    .up2{
        display: inline-block;
    }
    .down2{
        display: inline-block;
    }
    .left2{
        display: inline-block;
    }
    .right2{
        display: inline-block;
    }
    .sprint{
        display: inline-block;
    }
    .fist{
        display: inline-block;
    }
} */
